.home-bg {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    background: url("../../public/assets/images/home-bg.png");
    background-size: cover;
    background-attachment: fixed;
}

.home-main {
    position: relative;
    z-index: 1;
    max-width: 50%;
    margin: 0 auto;
}

.feed-toggle {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 60%;
    margin-left: 25%;
}

.active {
    color: white;
}

#local, #global, #sort {
    padding: 2%;
    color: white;
    background-color: black;
    font-family: 'Papyrus';
    height: 5%;
    border: 0;
}